// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

a {
  color: $main-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;

  @include on-event {
    text-decoration: underline;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}
