/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  font-weight: 600;
  font-size: 18px;
  font-family: $text-font;

  @include mq('laptop') {
    font-size: 16px;
  }
}

h1 {
  color: $text-color;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;

  @include mq('laptop') {
    font-size: 29px;
  }
}

h2 {
  color: $text-color;
  font-weight: 600;
  font-size: 22px;
}
