.btn {
	@extend %reset-button;

	padding: 5px 8px;
	background-color: $second-color;

	color: $light-base;
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;

	border:  2px solid transparent;
	cursor: pointer;

	transition: border 0.3s, color 0.3s, background 0.3s;

	@include on-event {
		background-color: $light-base;
		border-color: $second-color;
		color: $second-color;
	}
}
