.btn {
	@extend %reset-button;

	display: inline-block;

	padding: 5px 8px;
	background-color: $second-color;

	color: $light-base;
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;

	border:  2px solid transparent;
	cursor: pointer;

	transition: border 0.3s, color 0.3s, background 0.3s;

	@include on-event {
		background-color: $light-base;
		border-color: $second-color;
		color: $second-color;
	}

	&--light {
		background-color: $light-base;
		color: $main-color;
		font-weight: 600;
	}
}

.back-btn {
	@extend %reset-button;
	cursor: pointer;

	img {
		display: block;
		width: 26px;
		height: 30px;
	}

	&__wrapper {
		margin-bottom: 30px;

		@include mq('tablet') {
			position: absolute;
			top: auto;
			left: 20px;
		}
	}
}