.lds-dual-ring {
	display: block;
	width: 64px;
	height: 64px;

	&:after {
		content: ' ';
		display: block;
		width: 80%;
		height: 80%;
		margin: 1px;
		border-radius: 50%;
		border-width: 5px;
		border-style: solid;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: $main-color;
		border-bottom-color: $main-color;
		animation: rotation 1.2s linear infinite;
	}
}
